﻿@{
    ViewBag.Title = "Home Page";
}

<table id="Times"></table>


<script type="text/javascript">
        $(document).ready(function () {
            $("#Times").jqGrid({
                url: '@Url.Action("GetData")',
                datatype: "json",
                colNames: ['Platform', 'IsDebug', 'IsDebuggerAttached'],
                colModel: [
                    //{ name: 'N', index: 'N', sorttype: 'int' },
                    { name: 'Platform', index: 'Platform', width: 600, stype: 'text' },
                    { name: 'IsDebug', index: 'IsDebug', sorttype: 'text' },
                    { name: 'IsDebuggerAttached', index: 'IsDebuggerAttached', sorttype: 'text' },
                ],
                loadonce: true, // загрузка только один раз
                //sortname: 'Time', // сортировка по умолчанию по столбцу Id
                //sortorder: "desc", // порядок сортировки
                gridvie: true, // ускорение
                rowNum: 1000, // число отображаемых строк
            });
        });
</script>
